.img-box {
    width:200px;
    height:200px;
    background-size:100%;
    background-position: center center;
    background-repeat: no-repeat;
    border:1px solid gray;
    border-radius:5px;
    margin-bottom:10px;
}

.logocms-d {
    background: url(../img/logo-medium.png) !important;
    background-repeat: none !important;
    background-size:100% !important;
}

.btn {
    margin-left: 5px !important;
    margin-right: 5px !important;
}

.login-title {
    font-size:20px;
    --position: absolute;
    --top:20;
    --padding-top:10%;
    text-align: center;
    width: 100%;
    color: white;
}

.logo-container {
    background: #4ed1f4 url(../img/pattern.png) repeat !important;
    height: 100%  !important;
    background-size: 160px !important;
}