/* FONTS */
@import url('https://fonts.googleapis.com/css?family=Rubik:300,300i,400,400i,500,500i,700,700i,900,900i');
@import url('https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');

p {
    font-family: Montserrat;
}

.main-overview-detail {
    display: grid !important;
    grid-template-columns: repeat(auto-fit, minmax(210px, 1fr)) !important;
    grid-auto-rows: 48px !important;
    grid-gap: 5px !important;
    margin: 20px !important;
}

.overviewcard-detail {
    align-items: center !important;
    justify-content: space-between !important;
    color: white !important;
    font-weight: bold !important;
    background-color: #2e7118 !important;
    border-radius: 10px !important;
}

.overviewcard-detail h1 {
    color: white !important;
    font-size: 15px !important;
    font-weight: bold !important;
    padding: 7px !important;
    text-align: center !important;
}
.overviewcard-detail h2 {
    color: white !important;
    font-size: 35px !important;
    font-weight: bold !important;
    margin: -14px 12px 0px 22px !important;
    text-align: right !important;
}

.main-overview-detail2 {
    display: grid !important;
    grid-template-columns: repeat(auto-fit, minmax(210px, 1fr)) !important;
    grid-auto-rows: 70px !important;
    grid-gap: 5px !important;
    margin: 20px !important;
}
.overviewcard-detail2 {
    align-items: center !important;
    justify-content: space-between !important;
    /* color: white !important; */
    font-weight: bold !important;
    /* background-color: #2e7118 !important; */
    border-radius: 10px !important;
    border-style: dotted !important;
}

.overviewcard-detail2 h1 {
    color: black !important;
    font-size: 15px !important;
    font-weight: bold !important;
    padding: 5px !important;
    /*text-align: center !important;*/
}
.overviewcard-detail2 h2 {
    color: black !important;
    font-size: 25px !important;
    font-weight: bold !important;
    margin: -14px 12px 0px 22px !important;
    text-align: right !important;
}

.omzet-card div {
    height: 180px;
    width: 270px;
    margin: 7px;
    border-radius: 8px;
    transition: 0.4s;
}

.omzet-card div:hover {
    box-shadow: 3px 3px 8px 2px rgba(0, 0, 0, 0.24);
}

.dashboard-card div {
    height: 180px;
    width: 270px;
    margin: 7px;
    border-radius: 8px;
    transition: 0.4s;
}

.dashboard-card div:hover {
    box-shadow: 3px 3px 8px 2px rgba(0, 0, 0, 0.24);
}

/* BUTTONS */
button.button-orange {
    background: #ff9407;
    color: white;
    border-radius: 30px;
    padding: 10px 20px;
}

.canvas-sign{
    border: 1px solid;
    margin-bottom: 10px;
    margin-top: 2px;
    overflow: hidden;
}
/* Header */
#mainNav .sk-brand {
    font-family: 'Rubik';
    font-weight: 500;
    text-transform: unset;
}

.main-banner {
    padding-top: 70px;
}

.main-header {
    background: url(../../assets/img/bg-pattern.png) repeat #4ed1f4;
    background-size: 160px;
    position: relative;
    overflow: hidden;
    height: 725px;
}

a.nav-link {
    color: white;
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
}
a.nav-link:hover {
    color: #007bff;
}

.banner-title {
    color: white;
    /* margin-left: 40px; */
}

.banner-img img {
    height: 580px;
    position: absolute;
}

.banner-title h1 {
    font-family: Rubik;
    font-weight: 400;
    font-size: 65px;
    line-height: 1;
}

.banner-title h3 {
    font-size: 40px;
}

.banner-title h6 {
    font-family: Montserrat;
    font-weight: 400;
    font-size: 20px;
}

.btn {
    font-family: Rubik;
}

section#header {
    position: relative;
    padding: 0;
}

.center-logo {
    background: white;
    position: absolute;
    z-index: 2;
    width: 250px;
    height: 250px;
    display: flex;
    bottom: 100px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50%;
    box-shadow: 0px 5px 19px rgba(0, 0, 0, 0.28);
}

.center-logo img {
    width: 60%;
    margin: auto;
    align-self: center;
}

section#about {
    position: relative;
}

.about-sk.container {
    /* margin-top: 100px; */
}

.miring {
    position: absolute;
    width: 100%;
    overflow: hidden;
    height: 170px;
    top: -170px;
    left: 0;
}

.miring:before {
    content: ' ';
    width: 0;
    height: 0;
    border-bottom: 180px solid #93e8ff;
    border-left: 2760px solid transparent;
    position: absolute;
    bottom: 0px;
}

.miring:after {
    content: ' ';
    width: 0;
    height: 0;
    border-bottom: 180px solid #fff;
    border-left: 5060px solid transparent;
    position: absolute;
    bottom: 0px;
}

.about-img {
    min-width: 200px;
}

.benefit-container {
    background: #fafafa;
}

.benefit-bg {
    background: #e9ecef;
    position: relative;
    padding: 0;
}

.benefit-top-bg {
    position: absolute;
    width: 100%;
    /* background: #007bff; */
    top: -83px;
    height: 85px;
    overflow: hidden;
}

.benefit-top-bg:before {
    content: ' ';
    width: 0;
    height: 0;
    border-bottom: 180px solid #e9ecef;
    border-right: 4290px solid transparent;
    position: absolute;
    top: 17px;
}

.benefit-background {
    width: 100%;
    overflow: hidden;
    text-align: right;
}

.benefit-background img {
    width: 90%;
}

img.benefit-img {
    display: block;
    width: 100%;
}

img.mobile-app {
    width: 100%;
}

img.the-sk-logo {
    width: 100%;
}

section.download-app {
    background: url('../img/bg-download.png') repeat-x;
    background-position: bottom;
    padding: 0;
}

.benefit-wrapper img {
    width: 150px;
}

/* Footer */
.footer {
    background: #464646;
    padding: 40px 0 0 0;
    color: white;
}

img.footer-logo {
    width: 100px;
    margin-bottom: 10px;
}

h4.company-name {
    text-transform: uppercase;
    font-family: Rubik;
    font-size: 20px;
}

p.company-address {
    font-size: 14px;
}

.footer-contact {
    font-family: Montserrat;
    font-size: 14px;
}

ul.footer-links {
    list-style: none;
    padding: 0;
    font-family: Rubik;
}

ul.footer-links li {
    padding: 0 0 20px 0;
}

.footer-links a {
    color: white;
}

.footer-links a:hover {
    color: yellow;
}

.footer-contact-list li i {
    margin-right: 10px;
}

ul.footer-contact-list {
    list-style: none;
    padding: 0;
}

li.footer-link-title {
    font-weight: bold;
}

section.copyright {
    background: #363636;
    color: white;
    padding: 0;
}

h6.copyright-text {
    font-size: 12px;
}

.footer-links img {
    width: 25px;
    transform: translateY(-1px);
    margin-right: 5px;
}

/* Media Screen */
@media screen and (max-width: 420px) {
    div.miring {
        display: none !important;
    }
    .center-logo {
        zoom: 0.8
    }
    .benefit-bg {
        min-height: 1820px;
    }
    .banner-title {
        padding-top: 0 !important;
    }
    img.mobile-app {
        transform: translateX(-18px);
    }
}

@media screen and (max-width: 360px) {
    div.miring {
        display: none !important;
    }
    .center-logo {
        zoom: 0.8
    }
    .benefit-bg {
        min-height: 2000px;
    }
    .banner-title {
        padding-top: 0 !important;
    }
}

